<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBCBank.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SiriExt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SiriExtUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B82919541E79308A006146ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B829196C1E79308A006146ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B82919771E79308A006146ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B83807D11E9E8F38006C1FF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B83807DA1E9E8F38006C1FF4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A8199F1E9E944A0016B995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8A819A81E9E944A0016B995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
